body
{
background-image: url("background.jpg");
background-position: center;
background-size: cover;
}

.login_div1 , .login_div2
{
    background-color: white;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    float: none;
}

#player_1_input , #player_2_input
{
    display: inline-block;
    margin-left: 5px;
}   

#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
}

h1
{
    color: white;
}

label
{
    font-size: 30px;

}

#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}

.number1_input , .number2_input
{
    width: 60%;
}